Requirements with versions:
    1. Python -- 3.11.5
        Description: Computer language for automation 
    2. Numpy -- 1.24.3
        Description: Python package for managing numerical arrays
    3. Pandas -- 1.5.3
        Description: Python package for managing rows and columns of data
    4. Matplotlib -- 3.7.1
        Description: Python package to visualize variable correlation
    5. SpaCy -- 3.7.4
        Description: Python package for natural language processing used 
                     to extract token from content data
    6. Networkx -- 3.1
        Description: Python package for network analysis and structural cohesion.
    7. Pyvis -- 0.32
        Description: Python paclage for visualization of the network graph.